#wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 2fr)) minmax(0, 1fr);
}

#imgWrapper {
    height: 300px;
    grid-column: 1 / -1;
    background-color: #c600cd;
    opacity: 30%;
}

#homeWrapper {
    height: 500px;
    grid-column: 2 /  -2;
    background-color: #0000ff;
    opacity: 30%;
}

#leftSpaceWrapper {
    height: 500px;
    grid-column: 1 /  2;
    background-color: #d0ff00;
    opacity: 30%;
}

#rightSpaceWrapper {
    height: 500px;
    grid-column: 8 /  -1;
    background-color: #d0ff00;
    opacity: 30%;
}

header {
    height: 100px;
    grid-column: 1 /  -1;
    background-color: #00ff4c;
    opacity: 30%;
}

footer {
    height: 100px;
    grid-column: 1 /  -1;
    background-color: #00d5ff;
    opacity: 30%;
}



