#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 50px) repeat(6, minmax(0, 175px)) minmax(0px, 50px);
}

#homeWrapper {
    height: 200px;
    display: grid;
    grid-column: 3 / -3;
    background-color: #0000ff;
    opacity: 30%;
}

#imgWrapper {
    display:grid;
    height: 200px;
    grid-column: 1 / -1;
    background-color: #c600cd;
    opacity: 30%;
}

main {
    opacity: 30%;
}

header {
    grid-column: 1 / -1;
    background-color: #ff0000;
    opacity: 30%;
    height: 100px;
}

footer {
    grid-column: 1 / -1;
    background-color: #00ff26;
    color: rgb(98, 110, 21);
    opacity: 30%;
    height: 100px;
}