#wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 2fr)) minmax(0, 1fr);
}

#imgWrapper {
    height: 500px;
    grid-column: 1 / -1;
    background-image: url(HomeImg.jpg);
    background-size: cover;
}

#greyBox {
    background-color: rgb(14, 22, 75, 0.5);
    max-width:60%;
    margin: 100px auto;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#greyBox p {
    padding: 10px 15px;
}

#greyBox h2 {
    padding: 10px 0 0 0 ;
}

#homeWrapper {
    grid-column: 2 /  -2;
    background-color: #9cb8ff75;
}

#leftSpaceWrapper {
    grid-column: 1 /  2;
}

#rightSpaceWrapper {
    grid-column: 8 /  -1;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 1 / -1
}

#flex-container {
    display: flex;
    justify-content: space-around;
}

#flex-container div {
    margin: 0 10px;
    padding: 20px 20px 0px 20px;
    width: 100px;
}

#flex-container div p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: -2 / 2
}

#content-container div {
    padding: 20px;
}

#chipImg {
    width: 280px;
    height: 200px;
    float: right;
    padding: 25px 10px 10px 20px;
    object-fit: cover;
    display: flex;
}

#FishImg {
    width: 300px;
    height: 220px;
    float: left;
    padding: 25px 20px 10px 0;
    object-fit: cover;
    display: flex;
}

#footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1
}

#footerItem {
    margin: 10px;
    padding: 20px;
}

nav {
    grid-column: 1 / -1;
}

header {
    height: 80px;
    grid-column: 1 /  -1;
    background-color: #11118F;
}

header h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 0 20px;
    text-align: center;
}

footer {
    height: 80px;
    grid-column: 1 /  -1;
    background-color: #11118F;
}

footer a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 7px;
}                                 

#search-img {
    width: 30px;
    height: 30px;
    margin: 20px 0px;
}

.menu-icon {
    display: block; 
    width: 30px;
    margin: 15px 0px;
}
  
.bar {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
}  

.menu {
    display: flex;
    background-color: #333;
}

@media screen and (max-width: 992px) {
    #wrapper {
        grid-template-columns: 1fr repeat(6, 128px) 1fr;
    }
        header {
            background-color: #118f2e;
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color: #85118f;
    }
    #wrapper {
        grid-template-columns: none;
        display: block;
        width: 100%;
    }
    #imgWrapper {
        grid-column: none;
        display: inline-block;
    }
    #greyBox {
        max-width: 80%;
        margin: 75px auto 0 auto;
        height: 400px;
        overflow: auto;
    }
    #greyBox h2 {
        margin: 0;
        padding: 10px 0 0 0;
    }

    #flex-container {
        display: flex;
        justify-content: center; /* Centers the items horizontally */
        align-items: center; /* Ensures vertical centering as well */
        flex-wrap: wrap;
            }

    #flex-container div img {
        width: 85%;
        height: auto;
        padding: auto;
    }

    #flex-container div p {
        font-size: 12px;
        padding: 0;
    }
    #content-container div img {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}